<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>p5.js practice</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">


</head>

<body>
    <input id="button1" type="button" value="話してくれボタン" onclick="OnButtonClick1();">
    <input id="button2" type="button" value="話したいボタン" onclick="OnButtonClick2();">
    <button type="button" class="btn" onclick="onButtonClick3()">それな</button>
    <button type="button" class="btn" onclick="onButtonClick4()">いいね</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"></script>
    <script src="static/js/myscript.js"></script>
    <script src="static/js/button.js"></script>
    <script src="static/js/ball2.js"></script>

    <div class="container">
        <p hidden id="waiwai" class="bound">
            <span>わ</span>
            <span>い</span>
            <span>わ</span>
            <span>い</span>
            <span>し</span>
            <span>た</span>
            <span>い</span>
        </p>
    </div>

</body>

</html>